In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
dataset = pd.read_csv('adult.csv')
dataset.shape

(32561, 15)

In [4]:
dataset.tail()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [5]:
''' confusion matrix is used 
                                            Predicted class
______________________________________________________________________________
                              |                         |
                              |  Class=yes              |             class=no
Actual Class     class=yes    |  True +ve               |             Flase -ve
                 class=no     |  False +ve              |             True -ve
_______________________________________________________________________________                 

TP = True Positive
TN = True Negative
FP = False Positive
FN = False Negative

Accuracy = TP+TN/TP+FP+FN+TN
Precision = TP/TP+FP
Recall = TP/TP+FN
F1 Score = 2 * (Recall * Precision) / (Recall + Precision)
F1 score is more important Accuracy

                      
'''

In [9]:
x=dataset[['capital.loss','education.num','hours.per.week']]
y=dataset['income']

In [10]:
print(x)
print(y)

       capital.loss  education.num  hours.per.week
0              4356              9              40
1              4356              9              18
2              4356             10              40
3              3900              4              40
4              3900             10              40
5              3770              9              45
6              3770              6              40
7              3683             16              20
8              3683              9              40
9              3004             10              60
10             3004             16              35
11             2824             15              45
12             2824             13              20
13             2824             14              55
14             2824             16              40
15             2824             15              40
16             2824              7              76
17             2824             14              50
18             2824             12              40
19             2824             13              50
20             2824             13              40
21             2754              7              42
22             2754              9              25
23             2603             10              40
24             2603              9              32
25             2603             11              40
26             2603              2              32
27             2603              3              40
28             2559              6              50
29             2559              6              90
...             ...            ...             ...
32531             0              9              40
32532             0              9              35
32533             0             13              55
32534             0             13              99
32535             0             16              60
32536             0             13              50
32537             0             10              39
32538             0              8              35
32539             0             13              55
32540             0              9              46
32541             0             16              10
32542             0              9              40
32543             0              9              32
32544             0              9              25
32545             0             12              48
32546             0             14              30
32547             0             12              20
32548             0             12              40
32549             0              9              40
32550             0             10              40
32551             0             10              50
32552             0              6              40
32553             0             11              45
32554             0             14              11
32555             0             14              40
32556             0             10              40
32557             0             12              38
32558             0              9              40
32559             0              9              40
32560             0              9              20

[32561 rows x 3 columns]
0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
5        <=50K
6        <=50K
7         >50K
8        <=50K
9         >50K
10        >50K
11        >50K
12        >50K
13        >50K
14        >50K
15        >50K
16        >50K
17        >50K
18        >50K
19        >50K
20        >50K
21       <=50K
22       <=50K
23       <=50K
24       <=50K
25       <=50K
26       <=50K
27       <=50K
28        >50K
29        >50K
         ...
32531    <=50K
32532    <=50K
32533     >50K
32534    <=50K
32535     >50K
32536     >50K
32537    <=50K
32538    <=50K
32539     >50K
32540    <=50K
32541     >50K
32542    <=50K
32543    <=50K
32544    <=50K
32545    <=50K
32546    <=50K
32547     >50K
32548    <=50K
32549    <=50K
32550    <=50K
32551    <=50K
32552    <=50K
32553    <=50K
32554    <=50K
32555     >50K
32556    <=50K
32557    <=50K
32558     >50K
32559    <=50K
32560    <=50K
Name: income, Length: 32561, dtype: object

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [13]:
from sklearn.tree import DecisionTreeClassifier
classifier= DecisionTreeClassifier()
classifier.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [14]:
y_pred=classifier.predict(x_test)

In [18]:
df=pd.DataFrame({'Actual': y_test,'Predicted':y_pred,'true':y_test==y_pred})

In [28]:
df

      Actual Predicted   true
509     >50K      >50K   True
1270   <=50K     <=50K   True
10621   >50K     <=50K  False
4236   <=50K     <=50K   True
17450  <=50K     <=50K   True
5620   <=50K     <=50K   True
18332  <=50K     <=50K   True
29927  <=50K     <=50K   True
9486   <=50K     <=50K   True
10660  <=50K     <=50K   True
25489  <=50K     <=50K   True
11765   >50K     <=50K  False
14739   >50K     <=50K  False
16014  <=50K     <=50K   True
17957  <=50K     <=50K   True
11394  <=50K     <=50K   True
28112  <=50K     <=50K   True
1795    >50K      >50K   True
28532  <=50K     <=50K   True
13689   >50K     <=50K  False
3375   <=50K      >50K  False
2111    >50K      >50K   True
19801  <=50K     <=50K   True
29878   >50K      >50K   True
29146  <=50K     <=50K   True
7287   <=50K     <=50K   True
4935   <=50K     <=50K   True
3421   <=50K     <=50K   True
13459  <=50K     <=50K   True
1668    >50K      >50K   True
...      ...       ...    ...
9680   <=50K     <=50K   True
12965  <=50K     <=50K   True
29341  <=50K     <=50K   True
7618   <=50K     <=50K   True
3701    >50K     <=50K  False
18800  <=50K     <=50K   True
27260  <=50K     <=50K   True
24786  <=50K     <=50K   True
7227   <=50K     <=50K   True
4341    >50K     <=50K  False
20152  <=50K     <=50K   True
23644  <=50K     <=50K   True
74      >50K      >50K   True
7598   <=50K     <=50K   True
20970  <=50K     <=50K   True
29108  <=50K     <=50K   True
2394    >50K     <=50K  False
20327  <=50K     <=50K   True
23481  <=50K     <=50K   True
25525  <=50K     <=50K   True
8123   <=50K      >50K  False
10694  <=50K     <=50K   True
5229   <=50K     <=50K   True
7890   <=50K     <=50K   True
8463   <=50K     <=50K   True
20422  <=50K     <=50K   True
4201   <=50K     <=50K   True
2055    >50K      >50K   True
31283  <=50K     <=50K   True
13432  <=50K     <=50K   True

[6513 rows x 3 columns]

In [29]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[4605  371]
 [ 930  607]]
             precision    recall  f1-score   support

      <=50K       0.83      0.93      0.88      4976
       >50K       0.62      0.39      0.48      1537

avg / total       0.78      0.80      0.78      6513

In [59]:
y_pred = classifier.predict([[0,15,40]])
print(y_pred)

['>50K']